<h1>Second page</h1>


<div ng-controller="tasksController">
	<form id="tsk" name="tsk" ng-submit="addTask()">
	<input class="col-lg-4" type="text" name="newTask" ng-model="newTask" placeholder="Set a task!" required="">
	<button class="col-lg-2 ng-disabled="tsk.$invalid">Submit</button>
	</form>
	<div>
		<button class="col-lg-2" id="erase" ng-click="erase()">Erase Completed Tasks</button>
	</div>
	<br>
	<hr>
	<div class="pull-left">
	<ul >
	      <li ng-repeat="task in tasks">
	      <input type="checkbox" ng-model="task.done">

	      <span ng-class="{'done':task.done}">{{task.title}}</span>
		
	     </li>

    </ul>
    </div>
</div>

